.card {
    background-image: linear-gradient(to right, #61d7d4, #47b6da);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App {
  
    text-align:center;
    
}
body {
    background-image: linear-gradient(to right, #61d7d4, #47b6da);
}
#form input{

    font-weight:bolder;

}
h1 {
    text-shadow: 2px 2px 4px white;
}